@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo, h2 {
  font-family: 'Grand Hotel', cursive;
}

.auth-card{
  padding: 10em;
  text-align: center;
  margin: 10em auto;
  max-width: 50em;
}

.mycard{
  margin-top: 5em;
}

.profile-banner{
  display: flex;
  justify-content: space-around;
  margin: 2em;
  padding: 1em;
}

.profile-info{
  display: flex;
  justify-content: space-between;
  width: 110%;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
  margin-top: 2em;
}